@model ReservationInfo
@{
    ViewData["Title"] = "Wybierz datę wizyty";
}

    <form method="post" asp-action="Rezerwacje">
        <input type="hidden" asp-for="lastNameTherapist" />
        <div class="form-group">
            <div>Wprowadź datę w wizyty, aby sprawdzić wolne terminy </div>
            <br /><br />
            <input  width="200" asp-for="DataOfReservation" class="form-control" data-theme="yyyy-MM-dd" asp-format="{0:yyyy-MM-dd}" type="date"/>
        </div>
       
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Przejdź do rezerwacji" />
        </div>
        
    </form>

