@{
    ViewData["Title"] = "Prolog - gabinet Logopedyczny";
}

    <div class="text-center">
        <h3 class="display-4">Witaj na stronie gabinetu logopedycznego </h3>
        <h1 class="display-4">Prolog </h1>
        <img src="~/Images/ban04.jpg" />
        <br>
        <br>
        <p>Aby zarejestrować się na wizytę  <a href="home/logowanie"> przejdź do formularza</a>.</p>
        <br>
        <br>
        <br>
        <h1 class="display-4">Skontaktuj się z nami </h1>
        <br>
        <br>
        <table id="t01" width="800" align="center" style="table-layout:fixed">
            <tr>
                <th>Adres</th>
                <th>Telefon</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>ul. Logopedy 5 78-120 Kołobrzeg</td>
                <td>
                    500-500-501
                </td>
                <td>
                    prolog@gmail.com
                </td>
            </tr>
            <tr>
        </table>
    </div>

<br>
<br>